.navbar {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 80px;
    background-color: blueviolet;
    position: fixed;
    align-items: center;
    top: 0;
    z-index: 2;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
    transition: 0.2s;
}

.navbar_mobile_toggle {
    display: none;
}

.navbar_brand {
    width: 50%;
    margin: 0 32px;
    display: flex;
    align-items: center;
    cursor: default;
}

.navbar_brand_img {
    /*transform: rotate(135deg);*/
}

.navbar_brand h2{
    margin: 0 0 0 16px;
    transition: all 0.5s ease-in;
}

.navbar_brand h2:hover {
    color: #151515;
}

.navbar_links {
    display: flex;
    width: 50%;
    justify-content: flex-end;
    margin: 0 32px;
    align-items: center;
    height: 100%;
}

.navbar_links p {
    /*margin: 0 16px;*/
    cursor: pointer;
    padding: 0 32px;
    font-weight: 800;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
    transition: 0.5s ease-in all;
    height: 100%;
    display: flex;
    align-items: center;
}

.navbar_links p:hover {
    color: #151515;
}

.navbar_links_span {
    color: blueviolet;
    background-color: white;
    padding: 8px;
    border-radius: 8px;
    cursor: pointer;
    margin: 0 0 0 16px;
    font-size: 24px;
}

.navbar_dropdown {
    position: absolute;
    right: 0;
    top: 0;
    padding: 8px;
    transform: translate(0, 80px);
}

.navbar_dropdown_holder {
    padding: 16px;
    background-color: rebeccapurple;
    width: 300px;
    align-items: flex-start;
    border-radius: 8px;
    height: fit-content;
    flex-direction: column;
    transform-origin: top center;
    box-shadow:
            0.4px 0.4px 2.2px rgba(0, 0, 0, 0.02),
            1px 1px 5.3px rgba(0, 0, 0, 0.028),
            1.9px 1.9px 10px rgba(0, 0, 0, 0.035),
            3.4px 3.4px 17.9px rgba(0, 0, 0, 0.042),
            6.3px 6.3px 33.4px rgba(0, 0, 0, 0.05),
            15px 15px 80px rgba(0, 0, 0, 0.07);
}

.navbar_link_with_dropdown {
    position: relative;
}

.navbar_dropdown_div {
    display: flex;
    align-items: center;
    padding: 16px;
    margin: 8px 0;
    border-radius: 12px;
    transition: 0.5s all ease-in;
}

.navbar_dropdown_div:hover {
    background-color: rgba(0,0,0, 0.3);
}

.navbar_dropdown_div:hover.navbar_dropdown_div p {
    color: rebeccapurple;
}

@media only screen and (max-width: 600px) {
    .navbar {
        padding: 16px;
    }

    .navbar_brand {
        width: 80%;
        justify-content: flex-start;
        margin: 0 16px 0 0;
    }

    .navbar_links {
        display: none;
    }

    .navbar_mobile_toggle {
        display: flex;
        justify-content: center;
        align-items: center;
        color: blueviolet;
        background-color: white;
        padding: 8px;
        border-radius: 8px;
        margin: 0 0 0 16px;
        cursor: pointer;
        font-size: 24px;
    }
}