.container {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 20;
    background-color: rgba(0, 0, 0, 0.8);;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s ease-in all;
}

.inner_div {
    width: initial;
    height: inherit;
    background-color: lawngreen;
    border-radius: 8px;
    padding: 16px;
    box-shadow: 0.4px 0.4px 2.2px rgba(0, 0, 0, 0.02),
    1px 1px 5.3px rgba(0, 0, 0, 0.028),
    1.9px 1.9px 10px rgba(0, 0, 0, 0.035),
    3.4px 3.4px 17.9px rgba(0, 0, 0, 0.042),
    6.3px 6.3px 33.4px rgba(0, 0, 0, 0.05),
    15px 15px 80px rgba(0, 0, 0, 0.07);
    transition: 0.5s ease-in all;
}